.no_margin{
    margin: 0 !important;
}
.no_padding{
    padding: 0 !important;
}
.margin_15px{
    margin-top:15px;
}
.margin_30{
    margin-top:30px;
}
.margin_20{
    margin-top:20px;
}
h1 {
//   font-family: ChronicleDisplay-Light;
  font-size: 32px;
  letter-spacing: 0;
  margin-top:0;
  padding: 0;
}

.trending_image{
    width:100%;
    margin-bottom:10px;
    height:230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.trending_box{
    margin-bottom:30px;
}
.new_store_subheading{
    font-family: CircularStd-Book;
    font-size: 14px;
    letter-spacing: 2;
    color: #EF1851;
    margin-top:40px;
    text-transform:uppercase;
}

.new_store_subheading i{
    margin-top:36px
}
.new_store_subheading:hover, .new_store_subheading:active, .new_store_subheading:focus{
    color: #EF1851;
    text-decoration:none;
}
.hstc{
    font-family: CircularStd-Bold !important;
    font-size: 14px !important;
    min-height: 27px !important;
    color: #EF1851 !important;
    letter-spacing: 2px !important;
}
.line{
    width:38px;
    height:2px;
    background: #EF1851;
    margin: 10px 0px 30px 0px;
}
.line_top{
    border-top:1px solid #ccc;
}

.chevron_line{
    margin-bottom: 0;
    margin-top:10px;
    border-top:1px solid #ccc;
}
.side_p{
    font-size:18px;
    line-height:1.5;
    font-family: ChronicleTextG1-Roman;   
}
.hidden_phone{
    display:block;
}
.show_phone{
    display: none;
}

@media only screen and (min-width: 900px) { 
    .left_pad{
        padding-left: 58px;
        margin-left: 47px;
        border-left: 1px solid #ccc;
    }
    
    .right_pad{
        padding-right: 58px;
        margin-right: 47px;
        border-right: 1px solid #ccc;
    }
}