.no_margin{
    margin: 0 !important;
}
.trending_image{
    width:100%;
    margin-bottom:10px;
    max-height:320px;
}

.trending_box{
    margin-bottom:30px;
}
.new_store_subheading{
    font-family: CircularStd-Book;
    font-size: 14px;
    letter-spacing: 2;
    color: #EF1851;
    margin-top:40px;
    text-transform:uppercase;
}

.new_store_subheading i{
    margin-top:36px
}
.new_store_subheading:hover, .new_store_subheading:active, .new_store_subheading:focus{
    color: #EF1851;
    text-decoration:none;
}
.hstc{
    font-family: CircularStd-Bold !important;
    font-size: 14px !important;
    min-height: 27px !important;
    color: #EF1851 !important;
    letter-spacing: 2px !important;
}